<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="./css/buckets.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="wrapper">

        <div class="wrapper_blank"></div>

        <div class="wrapper_header">
            <div class="header_left">
                <span>동상이물</span>
            </div>
            <div class="header_right">
                <div class="header_button" id="header_button">Home</div>
            </div>
        </div>

        <div class="wrapper_blank"></div>

        <div class="wrapper_body">

            <div class="bucket">
                <div class="bucket_name">
                    <span>Bucket 1</span>
                </div>
                <div class="bucket_count">
                    <span id="checked">3</span> <span> of </span> <span id="total">12</span>
                </div>
                <div class="bucket_sharing">
                    <!-- <div class="sharing_count"></div> -->
                    <div class="sharing_button">
                        <span>SHARE +</span>
                    </div>
                </div>
            </div>

            <div class="no_bucket">
                <div class="no_bucket_name">
                    <span>create <br>new Bucket</span>
                </div>

            </div>

        </div>
        <div class="wrpper_footer"></div>
    </div>
</div>
</body>
</html>
