<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="../../static/css/bucket-save.css"
          th:href="@{/css/bucket-save.css}"
          rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="wrapper">

        <div class="wrapper_blank"></div>
        <div class="wrapper_blank"></div>

        <div class="wrapper_header">

            <div class="header_left">
                <span>동상이물</span>
            </div>
            <div class="header_right">
                <button class="header_button" id="header_button"
                        onclick="location.href='buckets.html'"
                        th:onclick="|location.href='@{/v1/buckets}'|"
                        type="button">Home</button>
            </div>
        </div>

        <div class="wrapper_blank"></div>
        <div class="wrapper_blank"></div>

        <form class="wrapper_body"
              action="bucket-items.html"
              th:action
              method="post">
            <div class="bucket">
                <div class="wrapper_blank"></div>
                <div class="bucket_header">

                    <div class="bucket_name">
                        <input name="name" type="text" class="bucket_name_info" placeholder="이름을 입력하세요">
                    </div>
                </div>

                <div class="wrapper_blank"></div>

                <div class="bucket_body">
                    <div class="item_new"></div>
                    <div class="bucket_items">
                        <div class="checked"></div>
                        <div class="checked"></div>
                        <div class="checked"></div>
                        <div class="checked"></div>
                        <div class="checked"></div>
                    </div>
                </div>

                <!-- <div class="wrapper_blank"></div> -->

                <div class="bucket_user">
                    <div class="user"></div>
                    <div class="user"></div>
                </div>
            </div>

            <div class="bucket_footer">
                <button class="bucket_button" id="bucket_share_button" type="submit">CREATE</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>