<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="../../static/css/item-edit.css"
          th:href="@{/css/item-edit.css}"
          rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="wrapper">

            <div class="wrapper_blank"></div>
            <div class="wrapper_blank"></div>

            <div class="wrapper_header">
                <div class="header_left">
                    <span>동상이물</span>
                </div>
                <div class="header_right">
                    <button class="header_button" id="header_button"
                            onclick="location.href='buckets.html'"
                            th:onclick="|location.href='@{/v1/buckets}'|"
                            type="button">Home</button>
                </div>
            </div>

            <div class="wrapper_blank"></div>
            <div class="wrapper_blank"></div>

            <div class="wrapper_body">
                <div class="bucket">

                    <div class="wrapper_blank"></div>

                    <div class="bucket_header">
                        <span class="bucket_name"
                              th:text="${bucket.name}">Bucket 1</span>
                        <div class="bucket_count">
                            <!--                            <span id="checked" th:text="${bucket.checked}">3</span> <span> of </span> <span id="total" th:text="${bucket.itemCount}">12</span>-->
                        </div>
                    </div>

                    <div class="wrapper_blank"></div>

                    <div class="bucket_body">
                        <!--                        <div class="item_new">-->
                        <div class="wrapper_blank"></div>
                        <div class="wrapper_blank"></div>
                    </div>

                    <form class="bucket_items"
                          action="bucket-items.html"
                          th:action
                          method="post">

                        <div class="checked"> <input type="checkbox"> </div>

                        <input class="item_content" type="text" th:value="${item.content}" name="content">

                        <div class="item_button_box">
                            <button class="item_button" id="item_edit" type="submit">수정</button>
                            <div class="button_partition"></div>
                            <button class="item_button"
                                    onclick="location.href='bucket-items.html'"
                                    th:onclick="|location.href='@{|/v1/buckets/${bucket.id}/items|}'|"
                                    type="button">취소</button>
                        </div>
                    </form>
                </div>

                <!--                    <div class="bucket_user">-->
                <!--                        <div class="user">user1</div>-->
                <!--                        <div class="user">호루롹휘 </div>-->
                <!--                        <div class="bucket_share_button"><button class="share_button">SHARE</button></div>-->
                <!--                    </div>-->

            </div>
            <div class="bucket_footer">
<!--                <div class="bucket_button" id="bucket_share_button">수정완료</div>-->
<!--                <div class="bucket_button_partition"></div>-->
<!--                <div class="bucket_button" id="bucket_edit_button">삭제</div>-->
            </div>
        </div>
    </div>

        <div class="wrapper">

            <div class="wrapper_blank"></div>
            <div class="wrapper_blank"></div>

            <div class="wrapper_header">
                <div class="header_left">
                    <span>동상이물</span>
                </div>
                <div class="header_right">
                    <button class="header_button" id="header_button"
                            onclick="location.href='buckets.html'"
                            th:onclick="|location.href='@{/v1/buckets}'|"
                            type="button">Home</button>
                </div>
            </div>

            <div class="wrapper_blank"></div>
            <div class="wrapper_blank"></div>

            <div class="wrapper_body">
                <div class="bucket">

                    <div class="wrapper_blank"></div>

                    <div class="bucket_header">
                        <span class="bucket_name" th:text="${bucket.name}">Bucket 1</span>
                        <div class="bucket_count">
                            <span id="checked" th:text="${bucket.checked}">3</span> <span> of </span> <span id="total" th:text="${bucket.itemCount}">12</span>
                        </div>
                    </div>

                    <div class="wrapper_blank"></div>

                    <div class="bucket_body">
                        <form class="item_new"
                              action="bucket-items.html"
                              th:action
                              method="post">
                            <div class="item_info_box"><input name="content" class="item_input" type="text" required placeholder="구매할 물건을 추가해주세요."></div>
                            <button class="item_new_button" type="submit">등록</button>
                        </form>

                        <div class="bucket_items" th:each="item : ${items}">
                            <div class="checked">
                                <input type="checkbox"
                                       onclick="location.href='buckets.html'"
                                       th:onclick="checkItem([[${bucket.id}]],[[${item.id}]])"
                                       th:checked="${item.checked}">
                            </div>

                            <input class="item_content" type="text" th:value="${item.content}" name="content" readonly>

                            <div class="item_button_box">
                                <button class="item_button" id="item_edit"
                                        onclick="location.href='item-edit.html'"
                                        th:onclick="|location.href='@{|/v1/buckets/${bucket.id}/items/edit/${item.id}|}'|"
                                        type="button">수정</button>

                                <div class="button_partition"></div>

                                <button class="item_button" id="item_delete"
                                        onclick="location.href='bucket-items.html'"
                                        th:onclick="|location.href='@{|/v1/buckets/${bucket.id}/items/delete/${item.id}|}'|"
                                        type="button">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper_blank"></div>
                    <div class="bucket_user">
                        <div class="user">user1</div>
                        <div class="user">호루롹휘 </div>
                    </div>
                </div>
                <div class="bucket_footer">
                    <div class="bucket_button" id="bucket_share_button">SHARE</div>
                    <div class="bucket_button_partition"></div>
                    <div class="bucket_button" id="bucket_edit_button">EDIT</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>