<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="../static/css/join.css"
          th:href="@{/css/join.css}"
          rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script th:inline="javascript">

        function nameCheck(){
            var name = document.getElementById("name").value;
            if(name == ""){
                alert("사용하실 닉네임을 입력해주세요.");
            }
            $.ajax({
                type: "POST",
                url: "/v1/members/nameCheck",
                data : {"name" : name},

                success: function (result) {
                    if(result == true){
                        alert("사용 가능한 이름입니다.");
                    } else {
                        alert(name + ": 이미 사용중인 이름입니다.\n 다른 이름을 사용해주세요.");
                    }
                },
                error: function(request, status, error){
                    alert(" 중복확인 실패 \n code:" + request.status + "\n error :" + error);
                }
            });
        }

        function passwordCheck(){
            var password = document.getElementById("password").value;
            var passwordCheck = document.getElementById("passwordCheck").value;
            if( password != passwordCheck){
                alert('비밀번호가 일치하지 않습니다.');
                return false;
            } else {
                alert('회원가입에 성공했습니다.');
                return true;
            }
        }
    </script>
</head>
<body>
<div class="background">
    <div class="wrapper">

        <div class="wrapper_blank"></div>

        <div class="wrapper_header">
            <div class="header_left">
                <span>동상이물</span>
            </div>
            <div class="header_right">
                <div class="header_button" id="header_button">
                    <span>Home</span>
                </div>
            </div>
        </div>

        <div class="wrapper_blank"></div>

<!--        <div class="wrapper_body">-->
            <form class="wrapper_body"
                  action="v1/members/join"
                  th:action
                  method="post"
                  onsubmit="return passwordCheck();">
                <div class="join">회원가입</div>

                <div class="join_content">
                    <div class="content_title">닉네임</div>
                    <div class="content_input">
                        <input type="text" id="name" th:name="name" class ="info_id_box" placeholder=" 닉네임을 입력해주세요.">
                        <button class="id_check"
                                type="button"
                                th:onclick="nameCheck()">중복확인</button>
                    </div>
                </div>

                <div class="join_content">
                    <div class="content_title">비밀번호</div>
                    <div class="content_input">
                        <input type="text" id="password" name="password" class ="info_box" placeholder=" 비밀번호를 입력해주세요.">
                    </div>
                </div>

                <div class="join_content">
                    <div class="content_title">비밀번호 확인</div>
                    <div class="content_input">
                        <input type="text" id="passwordCheck" name="passwordCheck" class ="info_box" placeholder=" 비밀번호를 입력해주세요.">
                    </div>
                </div>

            <button type="submit" class="join_button"
            th:onclick="passwordCheck()">회원가입</button>
            </form>
<!--        </div>-->

    </div>
</div>
</body>
</html>