<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="../static/css/join.css"
          th:href="@{/css/join.css}"
          rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="wrapper">

        <div class="wrapper_blank"></div>

        <div class="wrapper_header">
            <div class="header_left">
                <span>동상이물</span>
            </div>
            <div class="header_right">
                <div class="header_button" id="header_button">
                    <span>Home</span>
                </div>
            </div>
        </div>

        <div class="wrapper_blank"></div>

<!--        <div class="wrapper_body">-->
            <form class="wrapper_body"
                  action="login.html"
                  th:action
                  method="post">
                <div class="join">회원가입</div>

                <div class="join_content">
                    <div class="content_title">닉네임</div>
                    <div class="content_input">
                        <input type="text" id="name" name="name" class ="info_id_box" placeholder=" 닉네임을 입력해주세요.">
                        <div class="id_check">중복확인</div>
                    </div>
                </div>

                <div class="join_content">
                    <div class="content_title">비밀번호</div>
                    <div class="content_input">
                        <input type="text" id="password" name="password" class ="info_box" placeholder=" 비밀번호를 입력해주세요.">
                    </div>
                </div>

                <div class="join_content">
                    <div class="content_title">비밀번호 확인</div>
                    <div class="content_input">
                        <input type="text" id="passwordCheck" name="passwordCheck" class ="info_box" placeholder=" 비밀번호를 입력해주세요.">
                    </div>
                </div>

            <button type="button" class="join_button"
                    id="join_button"
                    onclick="location.href='login.html'"
                    th:onclick="|location.href='@{/login}'|">회원가입</button>
            </form>
<!--        </div>-->

    </div>
</div>
</body>
</html>