<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="../static/css/login.css"
          th:href="@{/css/login.css}"
          rel="stylesheet">

    <script th:inline="javascript" type="text/javascript" src="/js/login.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        function login(){
            var form = document.loginForm;
            var name = document.getElementById("name").value;
            var password = document.getElementById("password").value;
            var response = false;

            $.ajax({
                type: "POST",
                url: "/v1/members/test",
                async: false,
                data : {"name" : name, "password" : password},

                success: function (result) {
                    const res = $.trim(result);
                    if(res == "wrong_name"){
                        alert("존재하지 않는 회원입니다.");
                        form.name.focus();
                    } else if (res == "wrong_password"){
                        alert("비밀번호가 일치하지 않습니다.");
                        form.password.focus();
                    } else {
                        response = true;
                    }
                },
                error: function(request, status){
                    alert(" 로그인에 실패했습니다. 잠시후 다시 이용해주세요. \n code:" + request.status);
                }
            });
            return response;
        }
    </script>
</head>
<body>
<div class="background">
    <div class="wrapper">

        <div class="wrapper_blank"></div>

        <div class="wrapper_header">
            <div class="header_left">
                <span>동상이물</span>
            </div>
            <div class="header_right">
                <div class="header_button" id="header_button">
                    <span>Home</span>
                </div>
            </div>
        </div>

        <div class="wrapper_blank"></div>
        <div class="wrapper_blank"></div>

        <form class="wrapper_body"
              name = "loginForm"
              method="post"
              th:action
              action="v1/members/login"
              onsubmit="return login()"
              check_result="fail">
            <div class="sign_content">
                <div class="content_title">닉네임</div>
                <div class="content_input">
                    <input id="name" th:name="name" class ="info_box" type="text" placeholder="닉네임을 입력해주세요." required>
                </div>
            </div>

            <div class="sign_content">
                <div class="content_title">비밀번호</div>
                <div class="content_input">
                    <input id="password" th:name="password" class ="info_box" type="text" placeholder="비밀번호를 입력해주세요." required>
                </div>
            </div>

            <div class="form_buttons">
                <button class="sign_button" id="sign_button" type="submit">로그인</button>
                <button class="join_button" id="join_button" type="button"
                     onclick="location.href='join.html'"
                     th:onclick="|location.href='@{/v1/members/join}'|">회원가입</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>