<!DOCTYPE html>
<html lang="ko">
<head>
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="./styles/index.css" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="wrapper">
            <div class="wrapper_header">
                <div class="header_title">
                    <span>title</span> 
                </div>
            </div>
            <div class="wrapper_body">
                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

            </div>
            <div class="wrpper_footer"></div>
        </div>
    </div>  
</body>
</html>
