<!DOCTYPE html>
<html lang="ko">
<head>
    <title>장바구니 공유 서비스, 동상이물</title>

    <style>
        *{
            box-sizing: border-box;
            margin: 0;
        }

        .background{
            width: 100%;
            margin: 0;
        }

        .wrapper{
            width: 100%;
            flex-direction: column;
        }

        .wrapper_header{
            width: 100%;
        }

        .wrapper_body{
            width: 512px;
        }

        .bucket{
            width: 240px;
            height: 240px;
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <div class="background">
        <div class="wrapper">
            <div class="wrapper_header">
                <div class="header_title">
                    <span>동상이물</span>
                </div>
            </div>
            <div class="wrapper_body">
                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>

                <div class="bucket">
                    <div class="bucket_name"></div>
                    <div class="bucket_progress"></div>
                    <div class="bucket_sharing">
                        <div class="sharing_count"></div>
                        <div class="sharing"></div>
                    </div>
                </div>
            </div>
            <div class="wrpper_footer"></div>
        </div>
    </div>  
</body>
</html>
