<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>장바구니 공유 서비스, 동상이물</title>
    <link href="./styles/member-sign.css" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="wrapper">

            <div class="wrapper_blank"></div>

            <div class="wrapper_header">
                <div class="header_left">
                    <span>동상이물</span>
                </div>
                <div class="header_right">
                    <div class="header_button" id="header_button">
                        <span>Home</span>
                    </div>
                </div>
            </div>

            <div class="wrapper_blank"></div>
            <div class="wrapper_blank"></div>

            <div class="wrapper_body">

                <div class="sign_content">
                    <div class="content_title">아이디</div>
                    <div class="content_input">
                        <input id="email" class ="info_box" type="text" placeholder="아이디를 입력해주세요">
                    </div>
                </div>

                <div class="sign_content">
                    <div class="content_title">비밀번호</div>
                    <div class="content_input">
                        <input id="pwd" class ="info_box" type="text" placeholder="비밀번호를 입력해주세요">
                    </div>
                </div>

                <div class="form_buttons">
                    <div class="sign_button" id="sign_button">로그인</div>
                    <div class="join_button" id="join_button">회원가입</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>